.gallery-cycle {
padding: 3px;
border: solid 1px #C7C7C7;
position: relative;
}
.gallery-cycle a {
outline: none;
}
.gallery-cycle .gallery-container {
margin: 0;
padding: 0;
border: 0 none;
overflow: hidden;
position: relative;
}
div.gallery-cycle .gallery-slide {
margin: 0;
padding: 0;
border: 0 none;
width: 100%;
height: 100%;
}
.gallery-cycle .gallery-text {
margin: 0;
padding: 10px;
border: 0 none;
background-color: white;
overflow: hidden;
}
.gallery-cycle .gallery-image {
margin: 0;
padding: 0;
border: 0 none;
display: table-cell;
text-align: center;
vertical-align: middle;
background-color: white;
}
.gallery-cycle .gallery-image img {
margin: 0;
padding: 0;
border: 0 none;
}
.gallery-cycle .gallery-control {
position: absolute;
margin: 0;
padding: 5px 10px;
border: 0 none;
z-index: 10000;
}
.gallery-cycle .gallery-control-dots a {
font-size: 40px;
border: 0 none;
text-decoration: none;
color: #999999;
}
.gallery-cycle .gallery-control-numbers a {
font-size: 18px;
border: 0 none;
text-decoration: none;
color: #999999;
padding: 0px 5px;
margin: 0px 2px;
border: 1px solid #999999;
background-color: white;
}
.gallery-cycle .gallery-control-images a {
background: url(<?php echo $SITEURL; ?>plugins/i18n_gallery/images/cycle/pagination.png);
width: 12px;
height: 0px;
overflow: hidden;
padding-top: 12px;
margin: 10px 2px;
border: 0 none;
display: block;
float: left;
}
.gallery-cycle .gallery-control a:hover {
color: #666666;
}
.gallery-cycle .gallery-control a.activeSlide {
color: #C5400E;
background-position: 0 -12px;
}
.gallery-cycle .prev {
top: 0;
left: 0;
height: 100%;
width: 35%;
cursor: pointer;
position: absolute;
z-index: 9000;
}
.gallery-cycle .prev img {
left: 10px;
margin-top: -15px;
position: absolute;
top: 50%;
display: none;
}
.gallery-cycle .next {
top: 0;
right: 0;
height: 100%;
width: 35%;
cursor: pointer;
position: absolute;
z-index: 9000;
}
.gallery-cycle .next img {
right: 10px;
margin-top: -15px;
position: absolute;
top: 50%;
display: none;
}
.gallery-cycle .prev:hover img, .gallery-cycle .next:hover img {
display: block;
}
